body {
    font-family: Didot,serif;
}
.logo-bar {
    font-size: 60px;
    margin: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;
}
.logo-photo {
    height:90px;
    width: 90px;
    position: absolute;
    top: 50px;
    left: 1100px;
}
.nav {
    display: flex;
    justify-content: space-around;
    font-size: 25px;
    background-color:#b6f0e1;
}
.headline {
    height: 350px;
    background-image: url("https://images.fineartamerica.com/images/artworkimages/mediumlarge/3/colourful-wool-tim-gainey.jpg");
    background-size: cover;
    background-repeat: no-repeat;  
}
.about {
    display: inline-flex;
    gap: 30px;
}
.photo-holder {
    display: flex;
    width: 300px;
    height: 500px;
    background-color: #c4f0e4;
    position: relative;
}
#myphoto {
    position: absolute;
    top:30px;
    left:17px;
    width: 260px;
    height: 370px;
}
#myname {
    position: absolute;
    top:400px;
    left:100px;
    font-size: 20px;
}
.about-me {
    display: flex;
    position: relative;
    width: 1100px;
    height: 500px;
    background-image: url("https://static.vecteezy.com/system/resources/previews/000/153/300/non_2x/vector-grunge-style-note-paper-background.jpg");
}
#about-me-text {
    position: absolute;
    top: 50px;
    left: 80px;
    font-family: Palatino, URW Palladio L, serif;
    font-size: 20px;
}
.mywork {
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;
    gap:75px;
}
.mw-photoholder {
    background-color:#c4f0e4;
    height: 500px;
    width: 300px;
    position:relative;
}
.mw-photo {
    position: absolute;
    height: 330px;
    width: 270px;
    left: 15px;
    top: 30px;
}
.mw-text {
   font-style: italic;
   position: absolute;
   top: 400px;
   left:7px;
}
.contact {
    display: flex;
    flex-direction: row;
}
.logo {
    height:50px;
    width:50px;
}
